* {
	box-sizing: border-box;
	font-family: Helvetica;
}

h1 {
	text-align: center;

}
 .row {
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	float: left;
	clear: both;
} 

p {
	padding: 10px;
	clear: right;
}

.fish, .chicken, .beef {
  position: relative;
	float: right;
	padding: 5px;
	width: 100px;
	text-align: center;
	border: 1px solid black;
  font-size: 1.25em;
  margin: 0px;
}

.fish {
	background-color: cyan;
}

.chicken {
	background-color: yellow;
}

.beef {
	background-color: red;
  color: white;
}

.row section {
	background-color: #AACCBB;
	border: 1px solid black;
  margin-bottom: 5px;
   margin-top: 5px;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }

  .col-lg-12 {
  	margin: 5px 5px 5px 5px;
  }

}

@media (min-width: 768px) AND (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
    /*border: 5px solid white;*/
  }

  .col-lg-12 {
    margin: 5px 5px 5px 5px;
  }

  div:nth-child(3) {
    width: 100%;
    clear:both;
  }
}
  
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}